In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\DELL\anaconda3\envs\data_project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
median_salary_year = df['salary_year_avg'].median()

In [7]:
median_salary_hour = df['salary_hour_avg'].median()

In [10]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [11]:
df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [15]:
df_unique = df_filled

In [17]:

df_unique = df_unique.drop_duplicates()

print('Original: ', len(df_filled))
print('Dropped df: ', len(df_unique))
print('Rows Dropped: ', len(df_filled) - len(df_unique))

Original:  785741
Dropped df:  785640
Rows Dropped:  101

In [19]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print('Original: ', len(df_filled))
print('Dropped df: ', len(df_unique))
print('Rows Dropped: ', len(df_filled) - len(df_unique))

Original:  785741
Dropped df:  508042
Rows Dropped:  277699